/* estilos.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #e2dfdf;
    color:  #471717;
    padding: 20px;
}

header {
    background: #471717;
    color: bisque;
    padding: 20px 0;
    text-align: center;
}

header img.logo {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

header h1 {
    margin-bottom: 10px;
}
header h3 {
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a {
    color: #c2bea7;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration-color: rgb(235, 223, 223);
    text-decoration-line: underline;
}

main {
    margin: 20px 0;
}
#logoHorse {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

section {
    background:#e2dfdf;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section h2 {
    margin: 0 auto 5px auto;
}
section h3.titulo {
    margin: 1em auto 2em auto;
}
section p {
    margin-bottom: 20px;
}
.subtitulo {
    font-size: 1em;
}

#contenedor-fotos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.Card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(25% - 40px);
    max-width: calc(25% - 40px);
    text-align: center;
    transition: 1s;
}

.Card:hover {
    background-color: rgb(245, 223, 196);    
}

.Card img.Foto {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}



footer {
    background:  #471717;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    max-width: 800px;
    margin: 0 auto 20px auto;
}

footer .social.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer .social-button-facebook, footer .social-button-instagram {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3b5998; /* Color de fondo para Facebook */
}

footer .social-button-instagram {
    background-color: #E1306C; /* Color de fondo para Instagram */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    section {
        padding: 15px;
    }

    .Card {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    header {
        padding: 5px;
    }

    header h1 {
        font-size: 1.2em;
    }

    section {
        padding: 10px;
    }

    .Card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
